body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  overflow-x: hidden;
}

.image1, .image2, .image3, .image4 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
}

.image1, .image4 {
	min-height: 100%;
}

.image2, .image3 {
	min-height: 400px;
}

.image1 {
  background-image: url("../images/sign2.JPG");
}

.image2 {
  background-image: url("../images/landscape12.JPG");
}

.image3 {
  background-image: url("../images/cow5.JPG");
}

.image4 {
  background-image: url("../images/landscape3.JPG");
}

.box1 {
	color: #777;
	background-color:white;
	text-align:center;
	padding:50px 80px;
	text-align: justify;
}

.box2 {
	color:#ddd;
	background-color:#282E34;
	text-align:center;
	padding:50px 80px;
	text-align: justify;
}

.textbox {
	position:relative;
}

#title {
	opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
	position: absolute;
	left: 10%;
	top: 60%;
	width: 100%;
	text-align: left;
	letter-spacing: 10px;
}
         
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.titlespan {
	font-size: 50px;
	color: #fff;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.border {
	background-color:transparent;
	font-size:30px;
	color: #f7f7f7;
	letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
  text-align:center;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .image1, .image2, .image3, .image4 {
        background-attachment: scroll;
    }
}

#footer {
	width: 100%;
	height: 200px;
	background-color: #282E34;
}

.box3 {
	color:#ddd;
	background-color:#282E34;
	text-align:center;
	padding:25px 40px;
	text-align: justify;
}

#contact {
	margin: 0;
	padding: 0;
	color: #ddd;
}
